<style>

body{
  max-width: 1200px;
  margin-top: 30px auto;
  margin-left: 30px auto;
  font-family: 'Merriweather', Arial, sans-serif !important;
}

h1{
  margin: 0px;
}

h1, h5{
  text-align: center;
}

#container{
  position: relative;
}

#sections{
  width: 340px;
}

#sections > div{
  background: white;
  height: 300px;
  opacity: .2;
  margin-bottom: 500px;
}
#sections > div:last-child{
  margin-bottom: 30px;
}
#sections > div.graph-scroll-active{
  opacity: 1;
}

#graph1{
  margin-left: 0px;
  width: 800px;
  position: sticky;
  top: 0px;
  float: right;
}


@media (max-width: 925px)  {
  #graph1{
    width: 100%;
    margin-left: 0px;
    float: none;
  }

  #sections{
    width: auto;
    position: relative;
    margin: 0px auto;
  }

  #sections div{
    background: rgba(255,255,255,.5);
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 80vh;
  }

  pre{
    overflow: hidden;
  }

  h1{
    margin: 10px;
  }
}


circle{
  fill: steelblue;
}

.mono{
  font-family: monospace;
}



</style>
