.content {
  padding-left: 20px !important;
}

svg text {
  font-weight: bold !important;
  font-size: 11px;
}

#svgKeyCont  {
  margin: 20px;

}

#svgKeyCont text {
  font-weight: bold !important;
  font-size: 11px;
}

div.tooltip {
    position: absolute !important ;
    text-align: center !important ;
    width: 120px !important ;
    height: 100px !important ;
    padding: 2px !important ;
    font-family: 'Merriweather', Arial, sans-serif !important;
    font-weight: bold !important;
    background: #eec111 !important ;
    border: 0px !important ;
    border-radius: 8px !important ;
    pointer-events: none !important ;
}

h1 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Merriweather', Arial, sans-serif !important;
font-weight: bold !important;}


h5,h3 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Merriweather', Arial, sans-serif !important;
  font-weight: bold !important;
}

.description {
  text-align: justify;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Merriweather' !important;
  font-size: 12px;
}

.controls {
  vertical-align: middle !important;
}

.styled-select {
  appearance: none;
     height: 29px;
     overflow: hidden;
     width: 340px;
  }

  .styled-select:hover {
  	background-color:#5cbf2a;
  }

  .styled-select select {
   background: transparent;
   background-color:#ffffff;
   border: none;
   font-size: 14px;
   height: 29px;
   width: 368px;
}


.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;

}

.yellow  { background-color: #eec111; color: #000; }
.myButton {
  height: 29px;
  border: 1px solid #ccc;
	background-color:#eec111;
	cursor:pointer;
	font-size:14px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


#title {
  font-family: 'Merriweather', Arial, sans-serif !important;
  font-weight: bold !important;
  font-size: 25px;
}

#date {
  font-family: 'Merriweather', Arial, sans-serif !important;
  font-style: italic !important;
  font-size: 14px;
}

#preamble {
  font-family: 'Merriweather', Arial, sans-serif !important;
  font-size: 10px;
}
#prevote {
  font-family: 'Merriweather', Arial, sans-serif !important;
  font-size: 10px;
}
#ayes_count {
  font-family: 'Merriweather', Arial, sans-serif !important;
  font-size: 16px;
  font-weight: bold !important;
}
#noes_count {
  font-family: 'Merriweather', Arial, sans-serif !important;
  font-size: 16px;
  font-weight: bold !important;
}

/* @media only screen and (max-width: 500px) {
    #vis {
        position: absolute;
        top: 50px;
        left: 20px;
    }
}
*/
